{% extends 'Front.html.twig' %}
{% block script %}
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            width: 100%;
            height: 400px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 300px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        .pac-container {
            font-family: Roboto;
        }

        #type-selector {
            color: #fff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
        }

        #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }
    </style>
    <script>
        var marker;
        function initMap() {var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat: 36.797195, lng: 10.171203}
        });

            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: {lat: 36.797195, lng: 10.171203}
            });
            marker.addListener('click', toggleBounce);
        }

        function toggleBounce() {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh0d4cmZLraDuRksX85uT4u3FJyXXUxfY&callback&libraries=places&callback=initMap"
            async defer></script>
    {% endblock %}
{% block container %}

    <h3>Ajouter un local</h3>
    <ol class="breadcrumb">
        <li><a href="{{ path('local_homepage') }}">Home</a></li>
        <li class="active" >Ajouter un local</li>

    </ol>

    <div class="col-md-12">
        <div class="col-md-6">

            {{ form_start(Form) }}

            <div class="key" >
                <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                {{ form_widget(Form.nomLocal, {'attr': {'placeholder': 'Nom local','class':'form-control placeholder-no-fix','required' : 'true'}}) }}
                <div class="clearfix"></div>
            </div>
            <div class="key">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
                {{ form_widget(Form.description, {'attr': {'placeholder': 'Nom local','class':'form-control placeholder-no-fix','required' : 'true'}}) }}
                <div class="clearfix"></div>
            </div>
            <div class="key">
                <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
                {{ form_widget(Form.superficie) }}
                <div class="clearfix"></div>
            </div>
            <div class="key">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                {{ form_widget(Form.localisation) }}

                <div class="clearfix"></div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="alert alert-info" role="alert">
                <strong>Heads up!</strong> Veuillez annimer le markeur.
            </div>
            <div id="map"></div>


        </div>
    </div>


    {{ form_end(Form) }}



{% endblock %}