{% extends 'Front.html.twig' %}

{% block script %}
    <style>
        .buttonE{
            font-size: 1em;
            background: #E9967A;
            color: #fff;
            padding: 1em 2em;
            text-decoration: none;
            margin-top: 2em;
        }
        #divDetailEvent{
            text-align: center;
            min-height: 50px;
            background-size:cover;
            padding: 10em 0;
            height: 50px;
            width: 1680px;
            display: table;
            background: url("{{ asset('images/back.jpg') }}") no-repeat fixed 0px 0px;
        }
    </style>

    <div id="divDetailEvent">
        <h3 class="tittle">Détails local</h3>
        <div class="button">
            <!--  <a href="#" class="button1"> Retourner vers la page d'acceuil</a>
              <a href="#" class="button1"> Quick View</a> -->
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
{% endblock %}
{% block container %}
    <ol class="breadcrumb">
        <li><a href="{{ path('local_homepage') }}">Home</a></li>
        <li><a href="{{ path('mes_annonces',{'id':app.user.id}) }}">Mes annonces</a></li>
        <li class="active" ></li>

    </ol>
    <div class="new-arrivals-w3agile">
    <div class="container">

    <div class="single-wl3">
    <div class="container">
        <div class="single-grids">
            <div class="col-md-9 single-grid">
                <div class="single-top">
                    <div class="single-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="images/si.jpg">
                                    <div class="thumb-image">  <img src="{{ asset( 'uploads/images/' ~ annonce.image) }}"  data-imagezoom="true" class="img-responsive">
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="single-right simpleCart_shelfItem">

                        <div class="description">
                            {% if annonce.type == 1 %}
                            <p><span>Type : Location </span> </p>
                                {% else %}
                                    <p><span>Type : Vente</span> </p>
                            {% endif %}
                        </div>

                        <p class="price item_price">{{ annonce.prix }}dt</p>

                        {% if annonce.type == 1 %}

                        <div class="color-quality">
                        <h6>Date debut :</h6><p>{{ annonce.startdate|date("d/m/y") }}</p>
                        <h6>Date fin :</h6><p>{{ annonce.enddate|date("d/m/y") }}</p>




                        {% endif %}
                        </div>

                        <div class="color-quality">
                            <h6>Propriétaire:</h6><p>{{ annonce.owner }}</p>

                        </div>

                    </div>



                        <div class="block">
                        <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">

                        {% if okk ==0 %}
                            <div class="rating1">
                                {{ form_start(form) }}
                                <h4>Votre avis :</h4>
                                {{ form_widget(form.rating) }}
                                <input type="submit" value="Donner avis"/>
                                {{ form_end(form) }}
                            </div>
                        {% else %}
                            {% if rate.rating == 0 %}
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>

                            {% endif %}
                            {% if rate.rating == 1 %}
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>

                            {% endif %}
                            {% if rate.rating == 2 %}
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>

                            {% endif %}
                            {% if rate.rating == 3 %}
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>

                            {% endif %}
                            {% if rate.rating == 4 %}
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star-o fa-2x" aria-hidden="true"></i>

                            {% endif %}
                            {% if rate.rating == 5 %}
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                <i style="color: gold" class="fa fa-star fa-2x" aria-hidden="true"></i>

                            {% endif %}
                        {% endif %}

                        {% if annonce.owner != app.user.username %}
                            <a href="{{ path('Reclamation_homepage',{'nom':annonce.owner }) }}" data-text="Add to chart" class="my-cart-b">Reclamer</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

            </div>
        </div>
    </div>




{%  endblock %}